/* css driven header navigation style */

#head1o2 {
	width:100%;
  	height:1.5em;
	margin:0;
	padding:0;
	background:#036;
	/* background: rgb(0,36,62); */
	text-align:left;
	color:#fff;
	position:fixed;
	z-index:999;
}

#head2o2 {
	width:100%;
	margin-top:1.5em;
	padding:0;
	position:fixed;
}

#mpiilogo {
	float:right;
	margin:0;
	border:0;

}

#mpiidot {
	/* position needs to be fixed */
	/* display:none; */
	float:right;
	margin:0;
	padding:0;	
	width:7px;
	height:5px;
	/* position:relative; */
	background:#89b;
	z-index:1;
	margin:0;

}

#mpiidotspacer {
	font:bold 14px "Times New Roman", Times, serif;
	margin-left:5px;
	margin-right:2em;
	display:block;
	float:right;
	width:6.5em;
	height:1px;
	letter-spacing:1px;
	color:#036;
	border:1px solid #036;

}

#mpiitext {
	font:bold 7px "Times New Roman", Times, serif;
	margin-top:5px;
	margin-left:5px;
	margin-right:2em;
	display:block;
	float:right;
	width:15em;
	letter-spacing:1px;
	color:#036;
	line-height:1.3;
}

