<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ site.title }}'s Homepage</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="{{ site.title }}">
    <meta name="keywords" content="{{ site.keywords }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }} | {{ site.affiliation }}">
    <meta property="og:url" content="{{ site.canonical }}">
    <meta property="og:site_name" content="{{ site.title }} | {{ site.affiliation }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:locale" content="default">
    <meta property="og:image" content="{{ site.avatar }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ site.title }} | {{ site.affiliation }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.avatar }}">

    <link rel="canonical" href="{{site.canonical}}"/>
    <link rel="icon" media="(prefers-color-scheme:dark)" href="{{ site.favicon_dark }}" type="image/png" />
    <link rel="icon" media="(prefers-color-scheme:light)" href="{{ site.favicon }}" type="image/png" />
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin=anonymous>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/pub.css">
    <link rel="stylesheet" href="./assets/css/nav.css">
    
    <script src="./assets/js/github-stars.js"></script>
    <script type="text/javascript" src="./assets/js/jquery.js"></script>
    <script src="./assets/js/favicon-switcher.js" type="application/javascript"></script>
    
    <script type="text/javascript">
      function toggle_vis(id) {
          var e = document.getElementById(id);
          if (e.style.display == 'none')
              e.style.display = 'inline';
          else
              e.style.display = 'none';
      }
   </script>

   <script>
      function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
      }
   </script>
   

  </head>
  <body>
    
    <div class="topnav">

      <a href="{{ site.affiliation_link }}"><img width="190" src="{{ site.affiliation_logo }}"></a>

      <div id="myLinks">
      {% include navigation.md %}
      </div>

      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      
    </div>
    

    <script src="./assets/js/vanilla-back-to-top.min.js"></script>
    <script>addBackToTop({
        backgroundColor: '#fff',
        innerHTML: 'Back to Top',
        textColor: '#333'
      })
    </script>
    <style>
        #back-to-top {
          border: 1px solid #ccc;
          border-radius: 0;
          font-size: 15px;
          width: 100px;
          text-align: center;
          line-height: 30px;
          height: 30px;
        }
    </style>
    
    <div class="wrapper">
      <header>
        
        {% if site.avatar %}
        <a class="image avatar"><img src="{{ site.avatar }}" alt="avatar" /></a>
        {% endif %}

        <h1>{{ site.title }}</h1>

        {% if site.position %}
        <position style="font-size:1.10rem;">{{ site.position }}</position>
        <br>
        {% endif %}
        {% if site.affiliation %}
        <a href="{{ site.affiliation_link }}" rel="noopener"><autocolor>{{ site.affiliation }}</autocolor></a>
        <br>
        {% endif %}
        {% if site.email %}
        <email>{{ site.email }}</email>
        {% endif %}
        {% if site.email2 %}
        <br>
        <email>{{ site.email2 }}</email>
        {% endif %}
        
        <br>
        <br>

        {% if site.link_type == 'text' %}
        [<a href="{{ site.google_scholar }}">Google Scholar</a>]
        <br>
        [<a href="{{ site.cv_link }}">Curriculum Vitae</a>]
        <br>
        {% endif %}

        {% if site.link_type == 'icon' %}
        <div class="social-icons">
        {% if site.google_scholar %}
        <a style="margin: 0 5px 0 0" href="{{ site.google_scholar }}">
          <i class="ai ai-google-scholar" style="font-size:1.2rem"></i>
        </a>  
        {% endif %}

        {% if site.cv_link %}
        <a style="margin: 0 5px 0 0" href="{{ site.cv_link }}">
          <i class="ai ai-cv" style="font-size:1.3rem;"></i>
        </a>
        {% endif %}

        {% if site.github_link %}
        <a style="margin: 0 5px 0 0" href="{{ site.github_link }}">
          <i class="fab fa-github"></i>
        </a>
        {% endif %}

        {% if site.linkedin %}
        <a style="margin: 0 5px 0 0" href="{{ site.linkedin }}">
          <i class="fab fa-linkedin"></i>
        </a>
        {% endif %}

        {% if site.twitter %}
        <a style="margin: 0 0 0 0" href="{{ site.twitter }}">
          <i class="fab fa-x-twitter"></i>
        </a>
        {% endif %}
        </div>
        {% endif %}
        <br>

      </header>
      <section>

      {{ content }}

      <br>

      {% if site.enable_last_update %}
      <small>Last Update:
            <script>
              const monthNames = ["January", "Februray", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
              ];
              var modiDate = new Date(document.lastModified);
              var showAs = modiDate.getDate() + ". " + monthNames[modiDate.getMonth()] + " " + modiDate.getFullYear();
              document.write(showAs);
            </script>
      </small> 
      {% endif %}

      {% if site.footnote %}
      <div style="font: 12px/1.2 Crimson Pro, serif">
        <br>
        <a href="{{ site.footnote_link }}" rel="noopener">{{ site.footnote }}</a>
      </div>
      {% endif %}

      <br>
      {% if site.clustrmaps_id %}
      <div style="width:100px; pointer-events: none;">
      <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=043361&w=153&t=n&d={{ site.clustrmaps_id }}&co=ffffff&cmo=3eb7f0&ct=043361'></script>
      </div>
      {% endif %}
      
      </section>
      <footer>
        <div style="font: 12px/1.2 Crimson Pro, serif">
        <p>
        <small>
        {% if site.imprint %}
        <a href="{{ site.imprint }}" rel="noopener"><autocolor>Imprint / Impressum</autocolor></a><br>
        {% endif %}
        {% if site.data_protection %}
        <a href="{{ site.data_protection }}" rel="noopener"><autocolor>Data Protection / Datenschutzhinweis</autocolor></a>
        {% endif %}
        </small>
        </p>
        </div>
        <br>
        <br>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
